---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Strip from '../components/Strip.astro';
import Footer from '../components/Footer.astro';

const title = 'О компании Терекс-Плюс — аренда спецтехники в СПб';
const description =
  'Аренда техники на любой срок. Компания «Терекс-Плюс» предлагает прокат спецтехники разного профиля для широкого спектра работ. Работаем по всему Санкт-Петербургу и Ленинградской области.';
const keywords =
  'О компании Терекс-Плюс, аренда спецтехники в Санкт-Петербурге, аренда строительной техники';
---

<BaseLayout
  title={title}
  description={description}
  keywords={keywords}
  canonical="https://terex-plus.ru/about.html"
>
  <Header page="about" />
  <Strip pageName="О компании" />

  <main>
    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="info__title">О нашей компании «Терекс-Плюс»</h1>
            <p style="text-align:justify">
              Уже почти 5 лет наша организация предоставляет спецтехнику в аренду в Санкт-Петербурге
              и Ленинградской области. Благодаря тому что у нас собственный автопарк — мы можем
              предоставить качественную услугу для наших клиентов. Мы гарантируем прозрачную
              стоимость услуг так как работаем без посредников.
              <br />
              Также мы стремимся к тому, чтобы наши клиенты по максимуму доверяли нам и нашей технике
              и высоко оценивали наш подход к предоставлению услуги аренды спецтехники.
            </p>
            <ul class="about_item">
              <li>
                <img src="/img/Tilda_Icons_3st_percent.webp" alt="Качество услуг" loading="lazy" />
                <b>Качество</b>
                <p>
                  Мы постоянно работаем над улучшением нашей услуги. 24 часа в сутки вы можете
                  обратиться к нам за помощью. Большинство наших постоянных клиентов получает
                  технику в день подачи заявки!
                </p>
              </li>
              <li>
                <img
                  src="/img/Tilda_Icons_43_logistics_van.webp"
                  alt="Оперативная доставка техники"
                  loading="lazy"
                />
                <b>Оперативность</b>
                <p>
                  При выполнении любых работ важна оперативность. Каждый знает, что простой работы
                  бьёт по карману и репутации исполнителя. Работая с нами Вы получите всё
                  своевременно и без ущерба работе.
                </p>
              </li>
              <li>
                <img
                  src="/img/Tilda_Icons_3st_van.webp"
                  alt="Большой автопарк спецтехники"
                  loading="lazy"
                />
                <b>Большой автопарк</b>
                <p>
                  Наша техника регулярно проходит технический осмотр, обслуживается в собственном
                  сервисе или в сервисах надежных компаний.
                </p>
              </li>
              <li>
                <img
                  src="/img/Tilda_Icons_9ta_group.webp"
                  alt="Профессиональный коллектив"
                  loading="lazy"
                />
                <b>Профессиональный коллектив</b>
                <p>
                  Наши специалисты за спиной имеют большой опыт в сфере аренды спецтехники. Наша
                  команда всегда готова прийти на помощь вам, дорогие клиенты. Обращайтесь к нам и
                  мы подберем оптимальное решение для Вас.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>

  <Footer showModal={true} />
</BaseLayout>
